{% load static from staticfiles %}
{% load static %}

<html>
<head>
<title>Chat App</title>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'main.css'%}">
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        Chat App
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    	<ul class="nav navbar-nav navbar-right">
      	<!--<li><p class="navbar-text" >Signed in as Mark Otto</p></li>-->
      	{%if user.is_authenticated %}
			<li><p class="navbar-text" >Signed in as {{user.username}}</p></li>
			<li><a href="{% url 'chat:logout' %}">Logout</a></li>
      	{%else%}
      	<li><a href="{% url 'login' %}">Login</a></li>
      	<li><a href="{% url 'chat:register' %}">Signup</a></li>
      	{%endif%}
  	  </ul>
    </div>
  </div>
</nav>
{% block content %}

{% endblock %}

<footer style="text-align: center;">Created by Olufeko Samuel</footer>	
</body>
</html>